{{#if messages.length}}
  {{#each messages}}
    <div class="message d-flex flex-column">
      <div class="info d-flex">
        <p class="date text-light pe-1">{{this.date}}</p>
        <p class="text text-light px-1">{{this.name}} </p>
        <br />
        <p class="text text-light pe-1"> {{this.message}}</p>
      </div>
    </div>
  {{/each}}
{{/if}}